body {
  font-family: "Open Sans", sans-serif;
  /* color: #272829; */
}
html
{
  scroll-behavior: smooth;
}
a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.text-light {
    color:#e3ef5c !important;
    padding-left: 1rem;

}
h3
{
  font-size: 20px;
}
p
{
  font-size:16px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background:rgb(2, 9, 36);
  overflow-y: auto;
}
#header img 
{
  margin: 15px auto;
  display: block;
  width: 10rem;
  border: 8px solid #818370;
  border-radius: 5.5rem;
  
}
/* #header .perfil img {
  margin: 15px auto;
  display: block;
  width: 9rem;
  border: 8px solid #818370;
} */
#header .perfil 
{
    text-align: center;

}

#header .perfil h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .perfil h1 a, #header .perfil h1 a:hover {
  color: #e3ef5c;
  text-decoration: none;
}

#header .perfil .red-social a {
  font-size: 21px;
  margin-top: 8px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 12.5px 0px;
  margin: 8px 23px;
  /* margin-right: 4px; */
  border-radius: 50%;
  width: 45px;
  height: 22px;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
  

#header .perfil .red-social a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 340px;
}

@media (max-width: 1199px) {
  /* #header {
    left: -340px;
  } */

  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
                   Menu de navegacion
--------------------------------------------------------------*/
/* menu de Navigacion */
.nav-menu {
  padding: 12px 0 0 0;
  text-align: center;
  
}
.nav-menu * {
  margin: 0 6px;
  padding: 0;
  list-style: none;

}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a/*, .nav-menu a:focus */{
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 23px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 29px;
  padding-right: 8px;
  color: #fff;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
  color: #149ddd;
}

/*  Navigacion */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #e3ef5c ;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# seccion home 
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  /* background: url("../img/hero-bg.jpg") top center; */
  /* background-size: cover; */
}
#home:before {
  content: "";
    background: url("imagenes/fondo_contenido.jpg") top center;
    background-size: cover;
    text-align: center;
  /* background: rgba(5, 13, 24, 0.3); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  text-align: center;
  top:19rem;
 
  


}

#home p {

  color: #e3ef5c;
  /* margin-bottom: 50px; */
  font-size: 35px;
  padding: 0;
  margin:0;
  /* font-family: "Poppins", sans-serif; */
  font-family:"marcelle script";
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 20px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
  margin-top:0;
}

/*--------------------------------------------------------------
# Informacion Personal
--------------------------------------------------------------*/
#infoPer .infoh3
{
    color: #0c0c0c;
    /* font-size: 24px; */
}
/* #infoPer p
{
  font-size: 20px;
} */
#infoPer ul li
{
  font-size: 20px;

}
/*-----------------------------------------FIN INFO PERSONAL-------------------------------------------*/

/*-----------------------------------------HABILIDADES-------------------------------------------------
/*****************************************************************************************************/
.diHabilidades h3
{
  font-size: 15px !important;
  padding-top:20px;
  margin-bottom:5px;
  
}
.barra
{
  width:70%;
  height: 20px;
  background: rgb(128, 122, 122);
  border-radius: 10px;
  box-shadow: 20px 25px 25px rgba(0,0,0,01);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.Progreso
{
  
  width: var(--w);
  height: 20px;
  background: rgb(46, 25, 124);
  border-radius: 10px;
  animation:aumentar 5s ease;
}
@keyframes aumentar {
  0% {width:0%;}
  100% {width:var(--w);}
  
} /*para cuando se le pase el mause ensima*/
.Progreso:active
{
  animation: aumentar 5s ease;
}
/*-----------------------------------------FIN HABILIDADES-------------------------------------------*/
#estudios img {
  margin: 15px 0;
  display: block;
  width: 25em;
  box-shadow: 20px 25px 25px rgb(61, 59, 59);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);    
} 

/*--------------------------------MEDIAS QUERYS PARA LOS FONT-SIZE---------------------------------------*/
/*--------------------------AQUI SOLO MEDIO LO AJUSTE PARA TABLET QUE SE MIRABA ALGO PEQUEÑO----------------------*/
@media screen and (min-width: 760px)
{
    h3
    {
      font-size: 25px;
    }
    p
    {
      font-size:22px;
    } 
     #infoPer ul li
    {
      font-size: 22px;

    }
  
}
/*--------------------------para 1023 a 1150px------------------------*/
@media screen and (min-width: 1023px) and (max-width:1150px)
{
  #header .perfil .red-social a {
    font-size: 21px;
    padding: 9.5px 0px;
    margin: 8px 6px;
    width: 42px;
    height: 21px;
  
}
#header .perfil 
  #home h1
{
  font-size: 50px
}
  h3
{
  font-size: 18px;

}
p
{
  font-size:14.5px;
}
  .mobile-nav-toggle
  {
    visibility: hidden;
  }
  #header 
  {
    width:240px
  }
  #header img 
  {
      margin: 15px auto;
      display: block;
      width: 8rem;
      border: 5.5px solid #818370;
      border-radius: 5.5rem;

  }
  .nav-menu *
  {
        margin:0 0;

  }
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 19px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #fff;
}

#main {
  margin-left:17rem;
}

#home .home-container {
  padding-left: 23rem;
  padding-right: 4rem;
  top:12rem;
  
  
  }
#home h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  /* padding-top: 10rem; */
}
}
@media  screen and ( min-width: 1151px )
{
  #home .home-container {
    padding-left: 23rem;
    padding-right: 4rem;
    top:40%;
    
    
    }
    .mobile-nav-toggle
  {
    visibility: hidden;
  }
  
}
/*-----------------------FIN para 1023 a 1150px------------------------*/
/*-----------------------------PARA CELULAR----------------------------*/
@media  screen and ( min-width: 0px )and (max-width:420px)
{
  #home .home-container
   {
   
    top:11rem;
    padding-left:0 ;
    padding-right: 0 ;
   }
   #home p
   {
     font-size:21px;
   }
   #header
   {
    width: 282px;
   }
   #header img 
   {
       margin: 15px auto;
       display: block;
       width: 7rem;
       border: 4.5px solid #818370;
       border-radius: 5.3rem;
 
   }
   #header .nav-menu a {
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 20px;
}
#header .perfil .red-social a {
  font-size: 20px;
  margin-top: 8px; 
  padding: 9.5px 0px;
  margin:8px 18px;
  width: 45px;
  height: 22px;
  
}
  
}

.animationToggle
{
  transition: all 500ms linear;

}


/* @keyframes deslizarIzDer{
  0% {width:0%;}
  100% {width:var(--w);}
  
}  */

